* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}
:root {
  --title-color: #0b0223;
  --nav-item-color: #3c354f;
  --paragraph-color: #534c64;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 29px 0;
}
.nav-left {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 50%;
  padding-left: 10.5%;
}
.nav-left > h2 {
  color: var(--title-color);
  font-size: 45px;
  font-weight: 700;
  width: 50%;
}
/* .nav-left img {
  width: 50%;
} */
.nav-right {
  padding-right: 10.5%;
  display: flex;
  gap: 5%;
  align-items: center;
  width: 50%;
}
.nav-right > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-right > ul > li > a {
  text-decoration: none;
}
.nav-right > ul > li > a,
.nav-right button {
  color: var(--nav-item-color);
  font-size: 18px;
  font-weight: 500;
}
#nav-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 20px;
  border: 0;
}

.first-sec {
  display: flex;
  align-items: center;
  background-image: url("images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 10.5%;
}
.first-sec-left {
  width: 50%;
}
.first-sec-right {
  width: 50%;
}
.first-sec-right > img {
  width: 100%;
}
.first-sec-left > h1 {
  color: var(--nav-item-color);
  font-size: 48px;
  font-weight: 600;
}
.first-sec-left > h2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 95px;
  font-weight: 800;
}
.first-sec-left > p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
.banner-btn {
  display: inline-flex;
  padding-top: 5%;
  gap: 10px;
}
#f-banner-btn {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 15px 20px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
#s-banner-btn {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 15px 20px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.online-game-sec {
  padding: 10% 10.5%;
  padding-bottom: 2%;
}
.online-game-sec .first {
  text-align: center;
}
.online-game-sec .first h2 {
  color: var(--title-color);
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 10px;
}
.online-game-sec .first p {
  color: var(--paragraph-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 45px;
}
.online-game-sec .second {
  display: flex;
  width: 100%;
  gap: 20px;
}
.online-game-sec .second .card img {
  width: 100%;
}
.online-game-sec .second .card p {
  padding: 10px;
  color: var(--paragraph-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.play-game-sec {
  padding: 10%;
}
.upp {
  padding-top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 113px;
}
.play-game-sec .first {
  width: 50%;
}
.play-game-sec .first .firstimg {
  width: 100%;
  max-width: 710px;
}
.play-game-sec .first .secondimg {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 2;
  right: -180px;
  top: -30px;
}
.play-game-sec .second {
  width: 50%;
}
.buttonicon-sec {
  padding: 10% 10.5%;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  border: 0;
  border-radius: 50px;
  background: #fff;
}
.element p {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  padding-left: 10px;
}
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    padding: 0 0;
  }
  .nav-left h2 {
    font-size: 30px;
  }
  .nav-right {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .nav-right > ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .first-sec {
    flex-direction: column-reverse;
    background-image: none;
  }
  .first-sec-right {
    padding-top: 40px;
    width: 100%;
  }
  .first-sec-left {
    padding-top: 40px;
    width: 100%;
  }
  .first-sec-left h1 {
    font-size: 30px;
  }
  .first-sec-left h2 {
    font-size: 50px;
  }
  .online-game-sec .second {
    flex-direction: column;
  }
}
