@import url("https://fonts.googleapis.com/css2?family=Montserrat:display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --title-color: #0b0223;
  --nav-item-color: #3c354f;
  --paragraph-color: #534c64;
}
nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 29px 0;
}
.nav-left {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10.5%;
}
.nav-left > h2 {
  color: var(--title-color);
  font-size: 45px;
  font-weight: 700;
}
.nav-right {
  padding-right: 10.5%;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  max-width: 500px;
}
.nav-right > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.nav-right > ul > li > a {
  text-decoration: none;
}
.nav-right > ul > li > a,
.nav-right button {
  color: var(--nav-item-color);
  font-size: 18px;
  font-weight: 500;
}
#nav-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 20px;
  border: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.first-sec {
  display: flex;
  align-items: center;
  background-image: url("images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2% 10.5%;
}
.first-sec-left {
  width: 50%;
}
.first-sec-right {
  width: 50%;
}
.first-sec-right > img {
  width: 100%;
}
.first-sec-left > h1 {
  color: var(--nav-item-color);
  font-size: 48px;
  font-weight: 600;
}
.first-sec-left > h2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 95px;
  font-weight: 800;
}
.first-sec-left > p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
.banner-btn {
  display: inline-flex;
  padding-top: 5%;
  gap: 10px;
  align-items: center;
}
#f-banner-btn {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 15px 30px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
#s-banner-btn {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 15px 30px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.online-game-sec {
  padding: 10% 10.5%;
  padding-bottom: 2%;
}
.online-game-sec .first {
  text-align: center;
}
.online-game-sec .first h2 {
  color: var(--title-color);
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 10px;
}
.online-game-sec .first p {
  color: var(--paragraph-color);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 45px;
}
.online-game-sec .second {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card img {
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  /* row-gap: 24px; */
  position: relative;
  cursor: pointer;
  width: 100%;
}
.watch-now {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 5px solid #f948b2;
  border-radius: 16px;
  position: absolute;
  display: flex;
  opacity: 0;
  transition: opacity 1s;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
}

.watch-now h3 {
  color: #f948b2;
}

.card:hover .watch-now {
  opacity: 1;
}
.card p {
  padding-top: 10px;
  color: var(--paragraph-color);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.play-games {
  display: flex;
  padding: 10% 10.5%;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 79%;
}
.play-games-left {
  position: relative;
  width: 55%;
}
.large {
  width: 80%;
}
.small {
  width: 40%;
  position: absolute;
  top: 60%;
  left: 60%;
  z-index: 50;
}
.play-games-right {
  width: 45%;
}
.play-games-right h1 {
  padding-bottom: 20px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
#color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-games-right p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--paragraph-color);
}
.buttonicon-sec {
  padding: 10% 10.5%;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}
.element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  border: 2px solid white;
  border-radius: 50px;
  background: #fff;
  width: 16%;
  margin-bottom: 10px;
  color: #0b0223;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}
.element:hover {
  border: 2px solid #ff42a5;
  color: #ff42a5;
}

footer {
  padding: 5% 10.5%;
  text-align: center;
  background-color: #0b0223;
}
.footer-logo h2 {
  font-size: 48px;
}
.head1 {
  padding: 5%;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.head1 p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.head2 {
  padding: 5%;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.head2 p,
footer .copy-right {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.logo {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.logo button {
  padding: 0;
  border-radius: 1000px;
  background-color: #0b0223;
  border: 0;
}
footer i {
  font-size: 50px;
  color: white;
}
.footer-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  color: white;
}
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    gap: 20px;
  }
  .nav-left {
    padding-left: 0;
  }
  .nav-right {
    padding-right: 0;
  }
  .nav-left h2 {
    font-size: 30px;
  }
  .nav-right {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .nav-right > ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .first-sec {
    background-position: bottom;
    flex-direction: column-reverse;
    padding: 5%;
  }
  .first-sec-right {
    padding-top: 40px;
    width: 100%;
  }
  .first-sec-left {
    padding-top: 40px;
    width: fit-content;
  }
  .online-game-sec {
    padding: 5%;
  }
  .first-sec-left p,
  .online-game-sec .first p,
  .online-game-sec .second .card p,
  .play-games-right p,
  #s-banner-btn,
  #f-banner-btn,
  .nav-right > ul > li > a,
  .nav-right button {
    font-size: 16px;
  }
  .first-sec-left h1,
  .online-game-sec .first h2,
  .play-games-right h1,
  .footer-logo h2 {
    font-size: 30px;
  }
  .first-sec-left h2 {
    font-size: 50px;
  }
  .online-game-sec .second {
    grid-template-columns: repeat(1, 1fr);
  }
  .buttonicon-sec {
    margin-top: 20px;
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(3, 1fr);
  }
  .element {
    padding: 5px;
    width: 100%;
  }
  .element p {
    font-size: 10px;
    padding: 2px;
  }
  .element img {
    width: 30%;
  }
  footer {
    padding: 5%;
  }
  .head1 {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .head2 {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
  }
  .logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 200px;
    margin: 20px auto;
  }
  .head1 p,
  .head2 p,
  footer .copy-right {
    font-size: 12px;
  }
  footer i {
    font-size: 30px;
  }
  .play-games {
    flex-direction: column-reverse;
    padding: 5%;
    width: 90%;
  }
  .play-games-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .play-games-right {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav-left {
    padding-left: 2%;
  }
  .nav-right {
    padding-right: 2%;
    width: 100%;
  }
  .first-sec {
    padding: 5%;
  }
  .first-sec-left h1 {
    font-size: 40px;
  }
  .first-sec-left h2 {
    font-size: 60px;
  }
  .online-game-sec {
    padding: 5%;
  }
  .online-game-sec .second {
    grid-template-columns: repeat(2, 1fr);
  }
  .buttonicon-sec {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
  }
  .element {
    width: 100%;
  }
  .play-games {
    flex-direction: column-reverse;
    padding: 5%;
    width: 90%;
  }
  .play-games-left {
    width: 100%;
    margin-top: 30px;
  }
  .play-games-right {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
}
